@model IEnumerable<WebApplication16.Models.posty>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_zuytkownicy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tresc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data_utworzenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.liczba_like)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.liczba_dislike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status_komentarzy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_zuytkownicy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tresc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_utworzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.liczba_like)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.liczba_dislike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_komentarzy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_posty">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_posty">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_posty">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
